Repository Jalno/dockerize: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build php, build app

build php:
  image: docker:20.10
  services:
  - docker:20.10-dind
  stage: build
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE:php7.4-alpine
  before_script:
  - '[[ "$CI_COMMIT_REF_SLUG" != "master" ]] && DOCKER_IMAGE="$DOCKER_IMAGE-$CI_COMMIT_REF_SLUG"'
  ...

build app:
  image: docker:20.10
  services:
  - docker:20.10-dind
  stage: build
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE:nginx-php7.4-alpine
  before_script:
  - '[[ "$CI_COMMIT_REF_SLUG" != "master" ]] && DOCKER_IMAGE="$DOCKER_IMAGE-$CI_COMMIT_REF_SLUG"'
  ...

Revert "Fix typo in gitlab-ci"
  .gitlab-ci.yml
Due: none

Fix #6
  nginx-php-fpm/base/Dockerfile
Due: build app

Fix #7
  nginx-php-fpm/base/Dockerfile
Due: build app

Add socket extention to docker image
  nginx-php-fpm/base/Dockerfile
Due: build app

Increase client_body_size to 150MB
  nginx-php-fpm/nginx-templates/jalno.conf.template
Due: build app

Add github workflow
  .github/workflows/build-nginx-php-base.yml
  .github/workflows/build-php-base.yml
  .gitlab-ci.yml
Due: none

Using dnj/php-alpine as base image
  .github/workflows/build-nginx-php-base.yml
  .github/workflows/build-php-base.yml
  deploy/agent/alpine/prepare.sh
  deploy/agent/prepare-files.sh
  deploy/remote/docker-compose-up.sh
  deploy/remote/ubuntu/prepare.sh
  docker-entrypoint.sh
  nginx-php-fpm/7.4.Dockerfile
  nginx-php-fpm/8.0.Dockerfile
  nginx-php-fpm/8.1.Dockerfile
  nginx-php-fpm/8.2.Dockerfile
  nginx-php-fpm/base/Dockerfile
  nginx-php-fpm/deploy/agent/build-env.sh
  nginx-php-fpm/docker-compose.yml
  nginx-php-fpm/docker-entrypoint.d/20-envsubst-on-nginx-templates.sh
  nginx-php-fpm/docker-entrypoint.d/30-run-nginx.sh
  nginx-php-fpm/docker-entrypoint.d/40-certbot.sh
  nginx-php-fpm/docker-entrypoint.d/50-crond.sh
  nginx-php-fpm/docker-entrypoint.d/99-run-php-fpm.sh
  nginx-php-fpm/nginx-templates/jalno.conf.template
  nginx/jalno.conf
  php-cli/7.4.Dockerfile
  php-cli/8.0.Dockerfile
  php-cli/8.1.Dockerfile
  php-cli/8.2.Dockerfile
  php-cli/base/Dockerfile
  php-cli/deploy/agent/build-env.sh
  php-cli/docker-compose.yml
Due: build php, build app

Fix #1
  .dockerignore
Due: none

Path conditions:
  build php: any of: docker-entrypoint.sh, php-cli/base/Dockerfile, php-cli/docker-entrypoint.d/**/*
  build app: any of: docker-entrypoint.sh, nginx-php-fpm/base/Dockerfile, nginx-php-fpm/docker-entrypoint.d/**/*, nginx-php-fpm/nginx-templates/**/*
